<div class="bg-secondary" id="about-me">
  <section class="p-2">
    <div class="flex flex-col justify-center items-center gap-8 mb-8">
      <div class="w-full flex justify-center">
        <img
          src="assets/profile.png"
          alt="profile"
          class="w-72 h-72 rounded-full object-cover"
        />
      </div>
    </div>

    <div class="text-center">
      <h1 class="text-3xl md:text-5xl font-bold mb-4">
        Olá
        <br />
        Me chamo Herbert.
        <br />
        Seja bem-vindo(a) ao meu site!
      </h1>
      <p class="text-lg font-semibold text-gray-800 mb-6">
        Desenvolvedor fullstack.
      </p>
      <p class="text-lg text-gray-700 leading-8">
        Tenho um grande entusiasmo pelo processo completo de desenvolvimento,
        desde a concepção até a realização. É fascinante ver ideias tomando
        forma e se transformando em algo concreto. Sempre que me dedico a
        construir algo novo, sinto aquela empolgação de quando vi meu primeiro
        projeto funcionando perfeitamente.
      </p>
      <p class="text-lg text-gray-700 leading-8">
        Se você está planejando um novo projeto, ficarei muito feliz em
        colaborar. Vamos conversar e descobrir como posso contribuir para tornar
        sua ideia realidade!
      </p>
    </div>
  </section>
</div>
