<div class="bg-primary w-full h-16 flex items-center justify-between p-1 md:hidden fixed">
    <div class="p-3" (click)="toggleSideBar()">
        <fa-icon [icon]="faBars" size="2x"></fa-icon>
    </div>
    <div class="w-24">
        <img src="assets/logo.png" alt="Logo">
    </div>
</div>

<div class="w-full h-14 bg-primary flex items-center justify-between hidden md:flex fixed">
    <div class="w-24">
        <img src="assets/logo.png" alt="Logo">
    </div>

    <div class="flex mr-5">
        <ul class="flex gap-12">
            <li class="text-2xl text-black">
                <a href="#about-me">Sobre</a>
            </li>
            <li class="text-2xl text-black">
                <a href="#skills">Habilidades</a>
            </li>
            <li class="text-2xl text-black">
                <a href="#projects">Projetos</a>
            </li>
        </ul>
    </div>
</div>
