<div class="bg-secondary p-8 mt16 w-full" id="projects">
  <section>
    <h2 class="text-4xl font-bold text-center mb-12">Projetos</h2>
  </section>
  <div class="flex flex-col gap-8 justify-center items-center">
    <div class="max-w-sm w-full md:flex md:max-w-full p-4 bg-white gap-4 shadow-lg rounded-lg overflow-hidden">
        <div class="flex-none flex items-center mb-4">
            <img src="assets/food-marketplace.png" alt="food-marketplace" class="h-52 w[416px] rounded-md cursor-pointer">
        </div>
        <div class="bg-white flex-1 flex flex-col justify-between leading-normal">
            <div class="flex flex-col gap-4">
                <div class="text-gray-900 font-bold text-xl text-center">Food Marketplace</div>
                <p>Um aplicativo de e-commerce multi tenant, que permite aos usuários a criarem suas proprias lojas e gerenciar seus produtos, tambem podendo gerenciar seu estoque e funcionarios</p>
               <div>
                <h3 class="text-gray-800 font-semibold">Tecnologias utilizadas:</h3>
                <ul class="flex flex-wrap gap-2 mt-2">
                    <li class="px-2 py-1 bg-gray-200 rounded-full text-sm">Angular</li>
                    <li class="px-2 py-1 bg-gray-200 rounded-full text-sm">Spring Boot</li>
                    <li class="px-2 py-1 bg-gray-200 rounded-full text-sm">PostgreSQL</li>
                    <li class="px-2 py-1 bg-gray-200 rounded-full text-sm">AWS</li>
                </ul>
               </div>
               <div class="w-full flex justify-center">
                <a href="" target="_blank" class="p-4 text-white font-bold bg-gray-400 rounded-full w-fit">Acessar projeto</a>
               </div>
            </div>
        </div>

    </div>

    <div class="max-w-sm w-full md:flex md:max-w-full p-4 bg-white gap-4 shadow-lg rounded-lg overflow-hidden">
        <div class="flex-none flex items-center mb-4">
            <img src="assets/fast-food.png" alt="fast-food" class="h-52 w[416px] rounded-md cursor-pointer">
        </div>
        <div class="bg-white flex-1 flex flex-col justify-between leading-normal">
            <div class="flex flex-col gap-4">
                <div class="text-gray-900 font-bold text-xl text-center">Mini Hamburgueria</div>
                <p>O projeto Mini Hamburgueria é um aplicativo que permite aos usuários realizar pedidos de lanches de forma rápida e prática. 
                    Com uma interface amigável e intuitiva, o aplicativo oferece uma experiência de compra agradável, 
                    ideal para quem deseja saborear deliciosos hambúrgueres sem sair de casa. </p>
               <div>
                <h3 class="text-gray-800 font-semibold">Tecnologias utilizadas:</h3>
                <ul class="flex flex-wrap gap-2 mt-2">
                    <li class="px-2 py-1 bg-gray-200 rounded-full text-sm">Vue.js</li>
                    <li class="px-2 py-1 bg-gray-200 rounded-full text-sm">Vuex</li>         
                </ul>
               </div>
               <div class="w-full flex justify-center">
                <a href="" target="_blank" class="p-4 text-white font-bold bg-gray-400 rounded-full w-fit">Acessar projeto</a>
               </div>
            </div>
        </div>
    </div>
  </div>
</div>
