<section class="bg-gray-100 flex items-center justify-center">
  <div class="container p-4 flex flex-col items-center">
    <h2 class="text-4xl font-bold mb-8 text-center">Habilidades</h2>
    <div class="flex flex-col gap-0 items-center justify-center w-full">
        
        <div class=" bg-tw-bg-opacity flex w-full flex-col items-center p-4 gap-4 rounded-lg shadow-lg">
            <img src="assets/angular.png" alt="angular" class="h-20">
            <h3>Angular</h3>
        </div>

        <div class=" flex w-full flex-col items-center p-4 gap-4">
            <img src="assets/react.png" alt="react" class="h-20">
            <h3>React</h3>
        </div>

        <div class="bg-tw-bg-opacity flex w-full flex-col items-center p-4 gap-4 rounded-lg shadow-lg">
            <img src="assets/ionic.png" alt="ionic" class="h-20">
            <h3>Ionic</h3>
        </div>

        <div class="flex w-full flex-col items-center p-4 gap-4">
            <img src="assets/node.png" alt="node" class="h-20">
            <h3>Node.js</h3>
        </div>

        <div class="bg-tw-bg-opacity flex w-full flex-col items-center p-4 gap-4 rounded-lg shadow-lg">
            <img src="assets/spring.png" alt="spring-boot" class="h-20">
            <h3>Spring Boot</h3>
        </div>

        <div class="flex w-full flex-col items-center p-4 gap-4">
            <img src="assets/mysql.png" alt="mysql" class="h-20">
            <h3>MySQL</h3>
        </div>

        <div class="bg-tw-bg-opacity flex w-full flex-col items-center p-4 gap-4 rounded-lg shadow-lg">
            <img src="assets/postgress.png" alt="postgress" class="h-20">
            <h3>PostgreSQL</h3>
        </div>

        <div class="flex w-full flex-col items-center p-4 gap-4">
            <img src="assets/aws.png" alt="aws" class="h-20">
            <h3>AWS</h3>
        </div>


    </div>
  </div>
</section>
